* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(81, 113, 103);
    background-color: lavender;
}

html{
    scroll-behavior: smooth;
}


.nav{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;


}
.navsecond{
    background-color: lavender;
    position: fixed;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    width: 100%;
}

.navfront{
    background-image: url(love.jpg);
    background-size: cover;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.link{
    margin: 45px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.second{
    /* background-image: url(/image/love.jpg); */
    background-size: cover;
    height: 700px;
    /* text-align: center;
    bottom: 50%;
    align-items: center; */
}

.next{
    background-image: url(love.jpg);
}

.info{
    text-align: center;
    bottom: 50%;
    padding-top: 250px;
}

h1{
    font-size: xx-large;
    font-weight: bolder;
    margin: 10px;
    color: white;
    color: white;
    margin: 10px;
}

h2{
    color: aqua;
}

.btn{
    font-size: medium;
    width: 150px;
    height: 30px;
    background-image: url(/image/love.jpg);
    margin: 10px;
}

#about{
    text-align: center;
    height: 800px;
    background-color: violet;
    font-size: xx-large;
}

#service{
    text-align: center;
    height: 800px;
    background-color: red;
    font-size: xx-large;
}

#tours{
    text-align: center;
    height: 800px;
    background-color: indianred;
    font-size: xx-large;
}

span{
    margin: 10px;
    color: blue;
}

footer{
    text-align: center;
    height: 100px;
    padding-top: 50px;
    color: white;
    background-color: black;
}

.upbar{
    /* background: ; */
    height: 37px;
    width: 40px;
    align-items: center;
    position: fixed;
    top: 80%;
    right: 50px;
    animation: blinker 1.5s linear infinite;
    font-family: sans-serif;
    font-size: xx-large;
    background-color: blueviolet;
    border-radius: 25%;
    text-align: center;
}

@keyframes blinker {
    10% {
        opacity: 0.3;
    }
}

.gett{
    display: none;
}

.hamburger-menu{
 display: none;

}

.icon{
    color: white;
}








 /* this is for the phone sides */
@media (max-width:800px){

    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box; 
    }
    body{
        height: 100vh;
        width: 100%;
        background-color: rgb(81, 113, 103);
        background-color: lavender;
    
    }
    
    .nav{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        background-color: lavender;
    }
    
    
    .logo{
        margin: 10px;
        width: 30px;
        height: 30px;
    }
    
    .link{
         display: flex;
         text-decoration: none;
         margin: 17px;
        
    }
    .header{
    float: left;
    position: absolute;
    width: 100%;
    margin-top: 55px;
    height: 0;
    background-color: lavender;
    /* display: none; */
    visibility: hidden;

    }
    a{
        text-decoration: none;

    }
    
    article{
        background-image: url(love.jpg);
        background-size: cover;
        height: 700px;
    }
    
    .info{
        text-align: center;
        bottom: 50%;
        padding-top: 250px;
    }
    
    h1{
        font-size: xx-large;
        font-weight: bolder;
        margin: 10px;
        color: white;
        margin: 10px;
    }
    
    h2{
        color: aqua;
    }
    
    .btn{
        font-size: medium;
        width: 150px;
        height: 30px;
        background-image: url(love.jpg);
        margin: 10px;
    }
    
    #about{
        text-align: center;
        height: 600px;
        background-color: violet;
        font-size: large;
    }
    
    #service{
        text-align: center;
        height: 600px;
        background-color: red;
        font-size: large;
    }
    
    #tours{
        text-align: center;
        height: 800px;
        background-color: indianred;
        font-size: large;
    }
    
    span{
        margin: 10px;
        color: blue;
    }
    
    footer{
        text-align: center;
        height: 100px;
        padding-top: 50px;
        color: white;
        background-color: black;
        font-size: xx-small;
    }
    
    .upbar{
        /* background: ; */
        height: 37px;
        width: 40px;
        align-items: center;
        position: fixed;
        top: 80%;
        right: 50px;
        animation: blinker 1.5s linear infinite;
        font-family: sans-serif;
        font-size: xx-large;
        font-weight: bolder;
        border-radius: 25%;
        text-align: center;
        color: white;
        background-color: blueviolet;
    }
    
    @keyframes blinker {
        10% {
            opacity: 0.3;
        }
    }
    
    .hamburger-menu{
     display: inline-block;
     margin: 10px;
     font-size: xx-large;
    
    }

    .showman{
            float: left;
            position: absolute;
            width: 100%;
            margin-top: 55px;
            height: 175px;
            background-color: lavender;
            visibility: visible;
    }
    
    .icon{
        color: white;
        /* background-color: white; */
        opacity: 1;
    }
}